.navbar-top-links li {
    position: relative;
    white-space: nowrap;
}

.navbar-default .nav > li > a {
    font-weight: 400;
    font-size: 12px;
    padding: 12px 20px 12px 10px;
}

.navbar-default .nav-second-level li a {
    padding: 6px 10px 6px 10px !important;
    padding-left: 20px !important;
}

.navbar-default .nav > li.active {
    border-left-width: 2px;
}

.navbar.navbar-static-top {
    background-color: #fff;
}

body.full-height-layout #app {
    height: 100%;
}

#app {
    width: 100%;
    overflow-x: hidden;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.full-height-content {
    height: calc(100% - 85px);
    position: relative;
}

.normal-scroll-content {
    overflow-x: hidden;
    height: 100%;
}

.dataTables_length select {
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dataTables_length select {
    display: inline-block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px) !important;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    vertical-align: middle;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Modal */
.modal.inmodal {
    padding: 0 !important;
}

.inmodal .modal-title {
    padding: 0 60px;
    margin: 0
}

.modal.inmodal .modal-header {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #e7eaec;
}

.modal.inmodal .modal-header button {
    position: absolute;
    right: 15px;
    top: calc(50% - 18px);
    padding: 10px 12px;
    margin: 0;
    font-size: 30px;
    line-height: 15px;
    font-family: initial;
    font-weight: bold;
}

.modal.inmodal .modal-content {
    width: 100vw;
    height: calc(100vh - 50px);
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: block;
}

.modal.no-header .modal-content,
.modal.no-footer .modal-content {
    height: 100vh;
}

.modal.no-header .modal-body,
.modal.no-footer .modal-body {
    height: calc(100% - 70px);
}

.modal .modal-body > .row {
    overflow-x: hidden;
}

.modal .modal-body > .row > .full-height {
    height: auto;
}

.modal.inmodal .modal-dialog {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
    max-width: 100%;
    margin: 0;
    transition: none;
    height: 100%;
}

.modal.inmodal .modal-header {
    padding: 10px;
    border-bottom: 1px solid #e7eaec;
}

.modal.inmodal .modal-footer {
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    border-top: 1px solid #e7eaec;
}

#modal-media {
    z-index: 3050 !important;
}

@media (max-width: 1024px) {
    body.full-height-layout #app {
        display: block;
    }

    .wrapper-content {
        display: block;
        padding-bottom: 60px;
    }

    .wrapper-content > * {
        max-width: inherit;
        float: none;
    }

    .wrapper-content,
    .wrapper-content > *,
    .full-height-layout #wrapper,
    .full-height-layout #page-wrapper {
        height: auto !important;
    }
}

/**
    Custom full layout of ibox panel
 */

.full-height-content.nopadding, .full-height-content.nopadding .full-height {
    padding: 0 !important;
}

.panel-left {
    border-right: 1px solid #e7eaec;
}

.panel-left .ibox-title {
    background: #f3f3f4;
    border-top: none !important;
    border-bottom: 1px solid #e7eaec;
}

.panel-left .ibox, .panel-left .ibox-content {
    background: #fbfbfb !important;
}

.full-height-content.nopadding .ibox-content {
    border: none !important;
}

.full-height-content.nopadding .panel-left .form-group.submit.row {
    padding: 10px;
    text-align: -webkit-match-parent;
    margin-bottom: 19px;
    background: #f3f3f4;
}

.full-height-content.nopadding .panel-left .form-group.submit.row > div {
    text-align: right !important;
}